body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nasa-api_content {
  font-display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;   
  height: 100%;
}

.text-nasa{
  text-align: justify;
  padding: 10px 10%;
}

.image-nasa{
  max-height: 450px; 
  display: inline-flex;  
}
.video-nasa{
  width : 560px;
  height: 315px;
}

.title{
  padding-top: 5px;
}
.heading{
  background-color: rgb(99, 97, 97);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-panel {
  background-color: rgb(228, 224, 189);
  margin: 30px;
  padding: 20px 60px;
  border-radius: 10px;
}

@media screen and (max-width: 1050px){

  .text-nasa {
    padding : 0px 1% ;
    text-align: justify;
  }
  .image-nasa{
    max-height: auto; 
    width: 100%;
    display: inline-flex;  
  }
  .video-nasa{
    width : auto;
    height: auto;
  }

}

